h1{text-align: center;}

td {
    		width: 10vw;
    		height: 5vh;
    	}

input[type=text] {
	width: 5vw;
	-webkit-transition:width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 30vw;
}