* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

/************* CSS for header *************/
header,
header .logo,
header .logo a
header .nav-links,
header .nav-links ul,
header .nav-links li,
header .nav-links ul li a {
    display: flex;
    justify-content: flex-start;
}

header {
    background-color: black;
    position: sticky;
    width: 100%;
    top: 0px;
    height: 50px;
    z-index: 5;
}

header .logo img {
    margin: .5em;
    margin-left: 1em;
    width: 50px;
}

header .nav-links li a {
    align-items: center;
    padding: 0 12px;
    text-decoration: none;
    color: white;
    background-color: black;
    height: 50px;
}

header .nav-links li a:hover {
    background-color: grey;
    transform: scale(1.1, 1.1);
    transition: all 0.2s ease-out;
}


/************* CSS for footer *************/
footer,
footer .suggestion-box,
footer .foot-nav,
footer .foot-nav,
footer .foot-nav ul,
footer .foot-nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-bottom: 2%;
}

footer .foot-nav, footer .foot-nav ul, footer .foot-nav li {
    flex-direction: row;
}

footer .foot-nav {
    border-top: solid 1pt grey;
    width: 80%;
    justify-content: center;
}

footer .foot-nav li {
}

footer .foot-nav li a {
    text-decoration: none;
    color: grey;
}


/************* CSS for 'index.html' *************/
.index,
.boardGames,
.index .categories,
.index .featured,
.index .featured > div,
.index .featured div .rachel,
.index .featured div .lachlan,
.index .featured div .nathaniel,
.index .featured div .shamroz,
.index .featured div.elina,
.index ul,
.boardGames ul,
.index li,
.boardGames li,
.featured a,
.categories a,
.index li a div,
.featured a img,
.categories li a img,
.index h3,
.index h2,
.featuredNames {
    display: flex;
}

body {
    background-color: rgb(240, 250, 255);
}

.index, .boardGames {
    margin: 1em;
    padding: 1em;
    flex-direction: column;
}

.index .categories ul li img {
    width: 240px;
    height: 240px;
}

.categories ul {
    flex-flow: row wrap;
    justify-content: space-around;
}

.categories li {
    margin-bottom: 2em;
}

.categories ul li a {
    text-decoration: none;
    background-color: white;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
    box-shadow: 5px 5px 5px 2px grey;
    border-radius: 20px;
}

.categories ul li a:hover {
    box-shadow: 0 0 5px 2px darkblue;
    transform: scale(1.01, 1.01);
    transition: all 0.2s ease-out;
}

.categories ul li a div {
    margin-top: 1em;
    background-color: black;
    color: white;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    align-items: center;
}

.featured {
    flex-direction: column;
    border-top: solid 1pt black;
    align-items: center;
}

.featured div {
    margin-bottom: 2em;
    width: 100%;
}

.featured div h3 {
    display: flex;
    justify-content: center;
    margin-top: 1em;

}

.featured ul {
    justify-content: space-around;
    flex-wrap: wrap;
}

.featured li {
    margin: 1em 0 1em 0 ;
}

.featured ul li a {
    text-decoration: none;
    background-color: white;
    flex-direction: column;
    width: 160px;
    height: 160px;
    align-items: center;
    box-shadow: 3px 3px 3px 1px grey;
    border-radius: 10px;
}

.featured ul li a:hover {
    box-shadow: 0 0 3px 1px darkblue;
    transform: scale(1.01, 1.01);
    transition: all 0.2s ease-out;
}

.featured a img {
    width: 160px;
    height: 120px;
    border-radius: 10px;
    border: solid 1px black;
}

.featured ul li a div {
    color: black;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 14px;
}

.featured > div {
    flex-direction: column;
}

/************* CSS for board games *************/
.boardGames,
.boardGames h1,
.boardGames h3,
.boardGames section,
.boardGames div,
.boardGames section img,
.boardGames section div h2,
.boardGames section div p,
.boardGames section div ul,
.boardGames section div ul li {
    display: flex;
}

.boardGames, .boardGames section {
    flex-direction: column;
    align-items: center;
}

.boardGames section {
    margin: 1em 0 1em 0;
    border: solid 1pt black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px grey;
    width: 80%;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
}

.boardGames h1 {
    justify-content: center;
    margin-top: 5%;
}



.boardGames h1 img {
    width: 40px;
    height: 40px;
}

.boardGames section div {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boardGames section img {
    width: 300px;
}

.boardGames ul {
    width: 100%;
    justify-content: center;
}

.boardGames ul li {
    margin: 0 1em 0 1em;
    background-color: orange;
}

.boardGames ul li a {
    text-decoration: none;
    color: black;
}

/************* CSS for something new *************/

.SN {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SN section {
    display: flex;
    text-align: center;
}

.tableOfContents {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.snImage {
    width:200px;
    height: 200px;
    float:left;
    border-radius: 10%;
}

.tableOfContents table tr th {
    padding: 10px 10px 10px 10px;
}

.SYSK {
    display: flex;
    width: 500px;
    padding: 10px 10px 10px 10px;
}

#TSN {
    margin-top: 10px;
}

.description {
    margin: 30px 10px 10px 10px;
}
.podcasts {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.learnToCode {
    padding-top: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid black;

}
.instrument {
    padding-top: 20px;
    padding-bottom:20px;
    border-bottom: 1px solid black;
}
.intro {
    width: 350px;
    margin-top:5px;
    margin-bottom: 20px;
}
p {
    text-align: center;
}