.arts{margin-left: auto; margin-right: auto; width:60%;}
a:link{color:black; text-decoration: underline}
a:visited{color:black; text-decoration: underline}
a:hover{color: blue; font-style: italic; font-weight: bold; text-decoration: underline;}
a:active{color:rgb(152,49,255); text-decoration: none}
.strong{font-weight: bold;}

.arts section{margin-top:15px; line-height: 2; border:solid 1pt black; border-radius: 10px; background-color:white; box-shadow: 5px 5px 5px 2px grey; padding-bottom: 15px; padding-top:15px; margin-bottom: 20px;}
.arts section figure{display:flex; justify-content: center; margin-bottom:20px; margin-top: 5px;}
.arts section img{height:300px;}
.arts section h2{display:flex; justify-content: center; }
.arts h2+p{margin-bottom: 10px}
.arts p{text-align: center}
.arts section h3{display: flex; justify-content: center; }
.arts section ul {display:flex; flex-direction:column; margin-bottom: 10px; width: 85%;margin-left: auto; margin-right: auto;}
.arts section ul li {list-style-type: none; text-align: center; font-size:18px;}

#title{margin-top: 20px;}
#title h1{display:flex; justify-content: center; font-size:40px;margin-bottom: 10px;}
#title img{height: 50px;}
#title h3{display:flex; justify-content: center; font-size:110%; font-weight:normal; font-style: italic;}

.DIY ul li {text-align:left;}
#articles li{text-align: center; font-size:16px;}
#articles a:link{text-decoration:none;}
#articles a:visited{text-decoration: none;}
#bobby img{height:200px;}

#sketchIdeas li{font-weight:bold;}
#bttop{font-size:20px;}
#bttop a:link{text-decoration: none}

#ita{font-style: italic;}
#pro p{width:90%; margin-left: auto; margin-right: auto}
#pro section figure{flex-direction: column; margin-top: 15px; margin-bottom: 10px}
#pro section figure img{height:250px; align-self: center}
#pro figcaption{text-align: center;margin-top:5px;}
#outer{margin-left: auto; margin-right:auto;width:60%; }
#outer li{text-align:justify;list-style-type: disc; font-size:16px;}
#inner{margin:0 0 0 5%; width:100%;}
#inner li{text-align: left; list-style-type: circle;}
/*@media only screen and (min-width)*/
