h1{text-align: left;}

td {
    		width: 10vw;
    		height: 5vh;
    	}

input[type=text] {
	width: 7vw;
	-webkit-transition:width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 20vw;
}

form {
	text-align: right;
}

#suggestionBox {
	text-align: center;
}

#logo {
	text-decoration: none;
	text-decoration-color: black;
}
#cards {
    background-color: #C1ECF9;
}